{% extends "base.html" %}
{% load static %}
{% load helpers %}
{% block page_content %}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Panel de Control
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold"> Cotización de Monedas </h6>
            </div>
            <div class="card-body">
              
            </div>
        </div>
    </div>
</main>
{% endblock %}

