{% extends "base.html" %}
{% load helpers %}
{% block page_content %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="tag"></i></div>
                            {% if obj %} Editar {% else %} Agregar {% endif %} Marca 
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
				<form class="form-inline" method="POST">
					{% csrf_token %}
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Descripción</label>
						  	<input type="text" name="descripcion" maxlength="30"
							class="form-control" id="id_descripcion" value="{% if obj %} {{obj.descripcion}} {% endif %}" autofocus required>
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<button type="submit" class="btn btn-light text-dark"><i class="me-1" data-feather="save"></i> Guardar</button>
					<a class="btn btn-light text-secundary" href="{% url 'inv:marca_list' %}"><i class="me-1" data-feather="grid"></i>Volver</a>
				</form>	
			</div>
		</div>
	</div>
</main>
<script type="text/javascript">
	$(document).ready(function(){
		$('.text_type_number').attr('type', 'number');
	});
</script>
{% endblock page_content %}




