{% extends "base.html" %}
{% load helpers %}
{% block page_content %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="truck"></i></div>
                            {% if obj %} Editar {% else %} Agregar {% endif %} Proveedor
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
				<form class="form-inline" method="POST">
					{% csrf_token %}
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Documento</label>
						  	<input type="text" name="documento" maxlength="20"
							class="form-control" id="id_documento" value="{% if obj %} {{obj.documento}} {% endif %}" autofocus required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Razón Social</label>
						  	<input type="text" name="razonsocial" maxlength="100"
							class="form-control" id="id_razonsocial" value="{% if obj %} {{obj.razonsocial}} {% endif %}" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Dirección</label>
						  	<input type="text" name="direccion" maxlength="200"
							class="form-control" id="id_direccion" value="{% if obj %} {{obj.direccion}} {% endif %}" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Contacto</label>
						  	<input type="text" name="contacto" maxlength="100"
							class="form-control" id="id_contacto" value="{% if obj %} {{obj.contacto}} {% endif %}" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Teléfono</label>
						  	<input type="text" name="telefono" maxlength="10"
							class="form-control" id="id_telefono" value="{% if obj %} {{obj.telefono}} {% endif %}" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="input input-group-sm mb-3">
						  	<label class="form-label">Correo</label>
						  	<input type="email" name="email" maxlength="200"
							class="form-control" id="id_email" value="{% if obj %} {{obj.email}} {% endif %}" required>
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<button type="submit" class="btn btn-light text-dark"><i class="me-1" data-feather="save"></i> Guardar</button>
					<a class="btn btn-light text-secundary" href="{% url 'compras:proveedor_list' %}"><i class="me-1" data-feather="grid"></i>Volver</a>
				</form>	
			</div>
		</div>
	</div>
</main>
<script type="text/javascript">
	$(document).ready(function(){
		$('.text_type_number').attr('type', 'number');
	});
</script>
{% endblock page_content %}


