{% load static %}
<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mistock - Web</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>


<body class="nav-fixed">
    {% block side_bar %}
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <!-- * * Tip * * You can use text or an image for your navbar brand.-->
            <!-- * * * * * * When using an image, we recommend the SVG format.-->
            <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
            <a class="btn btn-icon btn-transparent-dark" href="/"><img class="img-fluid" src="{% static 'assets/img/logom.png'%}" href="/"/></a>
            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/">Mistock WEB</a>


            <!-- Navbar Search Input-->
            <!-- * * Note: * * Visible only on and above the lg breakpoint
            <form class="form-inline me-auto d-none d-lg-block me-3">
                <div class="input-group input-group-joined input-group-solid">
                    <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" />
                    <div class="input-group-text"><i data-feather="search"></i></div>
                </div>
                <iframe src="https://www.maxicambios.com.py//share" width="100%" height="100%"></iframe>

            </form>-->
               <!-- Navbar Items 
                  base_oo.html  
            -->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="{% static 'assets/img/user.png' %}" /></a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="{% static 'assets/img/user.png' %}" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">{{ user.first_name}} {{ user.last_name}}</div>
                                <div class="dropdown-user-details-email">{{ user.email}} </div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Perfil
                        </a>
                        <a class="dropdown-item" href="{% url 'base:logout' %}">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Salir
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        {% endblock side_bar %}
        {% block top_bar %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <!-- Sidenav Menu Heading (Account)-->
                            <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                            <div class="sidenav-menu-heading d-sm-none">Account</div>
                            <!-- Sidenav Link (Alerts)-->
                            <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                            <a class="nav-link d-sm-none" href="#!">
                                <div class="nav-link-icon"><i data-feather="bell"></i></div>
                                Alerts
                                <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                            </a>
                            <!-- Sidenav Link (Messages)-->
                            <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                            <a class="nav-link d-sm-none" href="#!">
                                <div class="nav-link-icon"><i data-feather="mail"></i></div>
                                Messages
                                <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                            </a>
                            <!-- Sidenav Menu Heading (Core)-->
                            <div class="sidenav-menu-heading">Principal</div>
                            <!-- Sidenav Accordion (Dashboard)-->
                            <a class="nav-link" href="/">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Panel de Control
                            </a>
                            
                            <a class="nav-link" href="{% url 'inv:moneda_list' %}">
                                <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                                Monedas
                            </a>
                            <!-- Sidenav Heading (Custom)-->
                            <div class="sidenav-menu-heading">Módulos</div>
                            <!-- Sidenav Accordion (Pages)-->
                            <!-- Sidenav Accordion (Utilities)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseInventarios" aria-expanded="false" aria-controls="collapseInventarios">
                                <div class="nav-link-icon"><i data-feather="shopping-bag"></i></div>
                                Inventarios
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseInventarios" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'inv:categoria_list' %}"><i data-feather="menu"></i> Categorias</a>
                                    <a class="nav-link" href="{% url 'inv:subcategoria_list' %}"><i data-feather="grid"></i> Sub Categorias</a>
                                    <a class="nav-link" href="{% url 'inv:marca_list' %}"><i data-feather="tag"></i> Marcas</a>
                                    <a class="nav-link" href="{% url 'inv:producto_list' %}"><i data-feather="package"></i> Productos</a>

                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseCompras" aria-expanded="false" aria-controls="collapseCompras">
                                <div class="nav-link-icon"><i data-feather="shopping-cart"></i></div>
                                Compras
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCompras" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'compras:proveedor_list' %}"><i data-feather="truck"></i> Proveedores</a>
                                </nav>
                                
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'compras:comprar_list' %}"><i data-feather="shopping-bag"></i> Compras</a>
                                </nav>
                            </div>
                            <!-- Sidenav Heading (Addons)-->
                            <div class="sidenav-menu-heading">Plugins</div>
                            <!-- Sidenav Link (Charts)-->
                            <a class="nav-link" href="charts.html">
                                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                                Charts
                            </a>
                            <!-- Sidenav Link (Tables)-->
                            <a class="nav-link" href="tables.html">
                                <div class="nav-link-icon"><i data-feather="filter"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Accesado por:</div>
                            <div class="sidenav-footer-title">{{user.first_name}} {{ user.last_name}}</div>
                        </div>
                    </div>
                </nav>
            </div>
            {% endblock top_bar %}
            <div id="layoutSidenav_content">
                {% block page_content %}
                
                {% endblock page_content%}
                {% block footer %}
                    <footer class="footer-admin mt-auto footer-light">
                        <div class="container-xl px-4">
                            <div class="row">
                                <div class="col-md-6 small">Copyright &copy; Carlos Martínez - 2022</div>
                                <div class="col-md-6 text-md-end small">
                                    <a href="#!">kodespy@gmail.com</a>
                                    &middot;
                                    
                                </div>
                            </div>
                        </div>
                    </footer>
                {% endblock footer %}    
            </div>
        </div>
        {% block login %} {% endblock login %}

        <div class="modal face" id="popup"></div> 
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        {% block js_page %} {% endblock js_page %}
        {% block control_modal %} 
            <script type="text/javascript">
                function abrir_modal(url)
                {
                    $("#popup").load(url, function() {
                        $(this).modal({
                            backdrop: 'static',
                            keyboard: false
                        })
                        $(this).modal('show');
                    });
                    return false;
                }        

                function cerrar_modal()
                {
                    $("#popup").modal('hide');
                    return false;
                }    
                function soloNumeros(e){
                    var key = window.event ? e.which : e.keyCode;
                    if (key < 48 || key > 57) {
                        e.preventDefault();
                }};    
            </script>
        {% endblock control_modal %}
    </body>
</html>


